/* @font-face { */
/*     font-family: OpenSans;  */
/*     src: url("") */
/* } */
/**/
@import url(https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);

body {
    background: #1c1c1e;
}

h1 {
    margin-bottom: 60px;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playpen Sans";
    font-weight: 400;
    color: white;
}

hr { 
    color: rgba(255, 85, 34, 0.5);
}

strong {
    color: white;
    font-weight: normal;
}

#content {
    background: #100b0c;
    color: #a6a19f;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    line-height: 150%;
    padding: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; 
}

a {
    color: #4183C4;
    text-decoration: none;
}

code {
    font-family: "Geist Mono", monospace;
    font-size: .875em;
    background: #22272e;
    border-radius: 3px;
    padding: 0px 8px 0px 8px;
}

.hljs {
    border-left: solid 5px #283553;
    /* background: rgba(45,51, 59, 0.3); */
}
